<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
 <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<title>user directory</title>
</head>

<body>
<div class="container">
<h3>Employee Directory</h3>

<hr>
<a th:href="@{/users/showFormForAdd}" class="btn btn-primary btn-sm mb-3">Add New</a>
<table class="table table-bordered table-striped">

	<thead class="thead-dark">
	<tr>
	<th>Date</th>
	<th>Name</th>
	<th>Phone</th>
	<th>Girl</th>
	<th>Start</th>
	<th>End</th>
	<th>Euro</th>
	<th>Dinar</th>
	<th>Signature</th>
	<th>On Duty</th>
	<th>Action</th>
	
	</tr>
	
	
	</thead>
	<tbody>
		<tr th:each="tempUser : ${users}">
		<td th:text="${#dates.format(tempUser.date, 'dd-MM-yyyy')}"/>
		<td th:text="${tempUser.name}"/>
		<td th:text="${tempUser.phone}"/>
		<td th:text="${tempUser.girl}"/>
		<td th:text="${#dates.format(tempUser.time_start, 'HH:mm')}"/>
		<td th:text="${#dates.format(tempUser.time_end, 'HH:mm')}"/>
		<td th:text="${tempUser.euro}"/>
		<td th:text="${tempUser.dinar}"/>
		<td th:text="${tempUser.signature}"/>
		<td th:text="${tempUser.on_duty}"/>
		
		<td>
		<a th:href="@{/users/showFormForUpdate(userId=${tempUser.id})}" class="btn btn-info btn-sm">Update row</a>
		<a th:href="@{/users/delete(userId=${tempUser.id})}" class="btn btn-danger btn-sm" onclick="if (!(confirm('Are you sure that you want to delete this row? Data will be lost.'))) return false">Delete row</a>
		</td>
		
		
		
		</tr>
	</tbody>


</table>



</div>
</body>

</html>