<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
 <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<title>user directory</title>
</head>

<body>
<div class="container">
<h3>Employee Directory</h3>

<hr>
<a th:href="@{/users/showFormForAdd}" class="btn btn-primary btn-sm mb-3">Add New</a>
<table class="table table-bordered table-striped">

	<thead class="thead-dark">
	<tr>
	<th>date</th>
	<th>name</th>
	<th>phone</th>
	<th>girl</th>
	<th>start</th>
	<th>end</th>
	<th>euro</th>
	<th>dinar</th>
	<th>signature</th>
	<th>on duty</th>
	
	</tr>
	
	
	</thead>
	<tbody>
		<tr th:each="tempUser : ${users}">
		<td th:text="${tempUser.date}"/>
		<td th:text="${tempUser.name}"/>
		<td th:text="${tempUser.phone}"/>
		<td th:text="${tempUser.girl}"/>
		<td th:text="${tempUser.time_start}"/>
		<td th:text="${tempUser.time_end}"/>
		<td th:text="${tempUser.euro}"/>
		<td th:text="${tempUser.dinar}"/>
		<td th:text="${tempUser.signature}"/>
		<td th:text="${tempUser.on_duty}"/>
		
		</tr>
	</tbody>


</table>



</div>
</body>

</html>